<body ng-controller="homeController">
    <script type="text/ng-template" id="warningContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning Threshold Settings</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                        <input type="number" class="form-control" placeholder="Days before warning" ng-model="days" required>
                        <input type="number" class="form-control" placeholder="Hours before warning" ng-model="hours" required>
                    </div>
                </div>
            </form>
            Current: 
            <br />
            <b>
                Days: {{warning.days}}
                <br />
                Hours: {{warning.hours}}
            </b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <h1>
        ToDos
    </h1>
    <div id="datetime"></div>
    <br />
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search ToDo Description and Tags" ng-model="searchStuff">
            </div>
        </div>
    </form>
    <h2>
        Incomplete ToDos
    </h2>
    <table class="table table-striped" ng-if="data.length > 0">
        <tr>
            <th valign="middle">
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    ID
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th valign="middle">
                <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                    Description
                    <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th valign="middle">
                <a href="#" ng-click="sortType = 'dueDate'; sortReverse = !sortReverse">
                    Due Date
                    <span ng-show="sortType == 'dueDate' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'dueDate' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th valign="middle">
                Tags
            </th>
            <th valign="middle">
                Action
            </th>
        </tr>
        <tr ng-repeat="x in data | filter: { state: 'false' } | orderBy: sortType:sortReverse | filter: searchStuff">
            <td valign="middle">
                <font color="#C11B17" ng-show="x.isRed == true">{{x.id}}</font>
                <font color="#EAC117" ng-show="x.isYellow == true">{{x.id}}</font>
                <font color="black" ng-show="x.isRed == false && x.isYellow == false">{{x.id}}</font>
            </td>
            <td valign="middle">
                <div ng-hide="editingData[x.id]">
                    <font color="#C11B17" ng-show="x.isRed == true">{{x.description}}</font>
                    <font color="#EAC117" ng-show="x.isYellow == true">{{x.description}}</font>
                    <font color="black" ng-show="x.isRed == false && x.isYellow == false">{{x.description}}</font>
                </div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.description" /></div>
            </td>
            <td valign="middle">
                <div ng-hide="editingData[x.id]">
                    <font color="#C11B17" ng-show="x.isRed == true">{{x.dueDate | date:'M/d/yyyy h:mm a'}}</font>
                    <font color="#EAC117" ng-show="x.isYellow == true">{{x.dueDate | date:'M/d/yyyy h:mm a'}}</font>
                    <font color="black" ng-show="x.isRed == false && x.isYellow == false">{{x.dueDate | date:'M/d/yyyy h:mm a'}}</font>
                </div>
                <div ng-show="editingData[x.id]"><input type="datetime-local" ng-model="x.dueDate" /></div>
            </td>
            <td valign="middle">
                <div ng-hide="editingData[x.id]">
                    <font color="#C11B17" ng-show="x.isRed == true">{{x.tags}}</font>
                    <font color="#EAC117" ng-show="x.isYellow == true">{{x.tags}}</font>
                    <font color="black" ng-show="x.isRed == false && x.isYellow == false">{{x.tags}}</font>
                </div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.tags" /></div>
            </td>
            <td valign="middle">
                <button class="btn btn-primary btn-sm" type="button" ng-hide="editingData[x.id]" ng-click="modify(x)">Modify</button>
                <button class="btn btn-primary btn-sm" type="button" ng-show="editingData[x.id]" ng-click="update(x)">Update</button>
                <button class="btn btn-primary btn-sm" type="button" ng-hide="viewField" ng-click="completeToDo(x)">Complete</button>
                <button class="btn btn-primary btn-sm" type="button" ng-hide="viewField" ng-click="removeToDo(x)">Remove</button>
            </td>
        </tr>
    </table>
    <div ng-if="!data.length > 0">
        No ToDos found.
    </div>
    <h2>
        Complete ToDos
    </h2>
    <table class="table table-striped" ng-if="data.length > 0 && completeCount > 0">
        <tr>
            <th valign="middle">
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    ID
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th valign="middle">
                <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                    Description
                    <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th valign="middle">
                <a href="#" ng-click="sortType = 'dueDate'; sortReverse = !sortReverse">
                    Due Date
                    <span ng-show="sortType == 'dueDate' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'dueDate' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th valign="middle">
                Tags
            </th>
            <th valign="middle">
                Action
            </th>
        </tr>
        <tr ng-repeat="x in data | filter: { state: 'true' } | orderBy:sortType:sortReverse | filter: searchDesc">
            <td valign="middle">
                {{x.id}}
            </td>
            <td valign="middle">
                <div ng-hide="editingData[x.id]">{{x.description}}</div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.description" /></div>
            </td>
            <td valign="middle">
                <div ng-hide="editingData[x.id]">{{x.dueDate | date:'M/d/yyyy h:mm a'}}</div>
                <div ng-show="editingData[x.id]"><input type="datetime-local" ng-model="x.dueDate" /></div>
            </td>
            <td valign="middle">
                <div ng-hide="editingData[x.id]">{{x.tags}}</div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.tags" /></div>
            </td>
            <td valign="middle">
                <button class="btn btn-primary btn-sm" type="button" ng-hide="viewField" ng-click="removeToDo(x)">Remove</button>
            </td>
        </tr>
    </table>
    <div ng-if="!data.length > 0 || completeCount == 0">
        No ToDos completed yet. Get to work!!
    </div>
    <br />
    <form method="get" ng-submit="newToDo()">
        <div class="form-group">
            <label>Description: </label>
            <input class="form-control" type="text" ng-model="description" required />
        </div>
        <div class="form-group">
            <label>dueDate: </label>
            <input class="form-control" type="datetime-local" ng-model="dueDate" required />
        </div>
        <div class="form-group">
            <label>Tags(seperated by commas): </label>
            <input class="form-control" type="text" ng-model="tags" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Create New ToDo</button>
        </div>
    </form>
    <br />
    <div>
        <button type="button" class="btn btn-warning" ng-click="open()">Change Warning Threshold</button>
    </div>
</body>