<body ng-controller="homeController">
    <script type="text/ng-template" id="warningContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning Threshold Settings</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                        <input type="text" class="form-control" placeholder="Hours before warning" ng-model="hours" required>
                        <input type="text" class="form-control" placeholder="Minutes before warning" ng-model="minutes" required>
                    </div>
                </div>
            </form>
            Current: 
            <br />
            <b>
                Hours: {{warning.hours}}
                <br />
                Minutes: {{warning.minutes}}
            </b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <h1>
        ToDos
    </h1>
    <div id="datetime"></div>
    <h3>
        Incomplete ToDos
    </h3>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search ToDo Description" ng-model="searchDesc">
            </div>
        </div>
    </form>
    <table class="table table-striped" ng-if="data.length > 0">
        <tr>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    ID
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                    Description
                    <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'dueDate'; sortReverse = !sortReverse">
                    Due Date
                    <span ng-show="sortType == 'dueDate' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'dueDate' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                Tags
            </th>
            <th>
                Complete
            </th>
            <th>
                Action
            </th>
        </tr>
        <tr ng-repeat="x in data | filter: { state: 'false' } | orderBy: sortType:sortReverse | filter: searchStuff">
            <td>
                {{x.id}}
            </td>
            <td>
                <div ng-hide="editingData[x.id]">
                    <font color="#C11B17" ng-show="x.isRed == true">{{x.description}}</font>
                    <font color="#EAC117" ng-show="x.isYellow == true">{{x.description}}</font>
                    <font color="black" ng-show="x.isRed == false && x.isYellow == false">{{x.description}}</font>
                </div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.description" /></div>
            </td>
            <td>
                <div ng-hide="editingData[x.id]">{{x.dueDate | date:'M/d/yyyy HH:mm a'}}</div>
                <div ng-show="editingData[x.id]"><input type="datetime-local" ng-model="x.dueDate" /></div>
            </td>
            <td>
                <div ng-hide="editingData[x.id]">{{x.tags}}</div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.tags" /></div>
            </td>
            <td>
                {{x.state}}
            </td>
            <td>
                <button ng-hide="editingData[x.id]" ng-click="modify(x)">Modify</button>
                <button ng-show="editingData[x.id]" ng-click="update(x)">Update</button>
                <button ng-hide="viewField" ng-click="completeToDo(x)">Complete</button>
                <button ng-hide="viewField" ng-click="removeToDo(x)">Remove</button>
            </td>
        </tr>
    </table>
    <div ng-if="!data.length > 0">
        No ToDos found.
    </div>
    <h3>
        Complete ToDos
    </h3>
    <table class="table table-striped" ng-if="data.length > 0">
        <tr>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    ID
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                    Description
                    <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'dueDate'; sortReverse = !sortReverse">
                    Due Date
                    <span ng-show="sortType == 'dueDate' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'dueDate' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                Tags
            </th>
            <th>
                Complete
            </th>
            <th>
                Action
            </th>
        </tr>
        <tr ng-repeat="x in data | filter: { state: 'true' } | orderBy:sortType:sortReverse | filter: searchDesc">
            <td>
                {{x.id}}
            </td>
            <td>
                <div ng-hide="editingData[x.id]">{{x.description}}</div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.description" /></div>
            </td>
            <td>
                <div ng-hide="editingData[x.id]">{{x.dueDate | date:'M/d/yyyy HH:mm'}}</div>
                <div ng-show="editingData[x.id]"><input type="datetime-local" ng-model="x.dueDate" /></div>
            </td>
            <td>
                <div ng-hide="editingData[x.id]">{{x.tags}}</div>
                <div ng-show="editingData[x.id]"><input type="text" ng-model="x.tags" /></div>
            </td>
            <td>
                {{x.state}}
            </td>
            <td>
                <button ng-hide="viewField" ng-click="removeToDo(x)">Remove</button>
            </td>
        </tr>
    </table>
    <div ng-if="!data.length > 0">
        No ToDos found.
    </div>
    <br />
    <form method="get" ng-submit="newToDo()">
        <div class="form-group">
            <label>Description: </label>
            <input class="form-control" type="text" ng-model="description" required />
        </div>
        <div class="form-group">
            <label>dueDate: </label>
            <input class="form-control" type="datetime-local" ng-model="dueDate" required />
        </div>
        <div class="form-group">
            <label>Tags(seperated by commas): </label>
            <input class="form-control" type="text" ng-model="tags" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Create New ToDo</button>
        </div>
    </form>
    <br />
    <div>
        <button type="button" class="btn btn-default" ng-click="open()">Change Warning Threshold</button>
    </div>
</body>