<body ng-controller="homeController">
    <form method="get" ng-submit="search()">
        <div class="form-group">
            <label>Search for: </label>
            <input type="radio" name="Search" value="repo" ng-model="searchType"/>Repo 
            <input type="radio" name="Search" value="user" ng-model="searchType"/>User
        </div>
        <div class="form-group">
            <label>Keyword to search for:</label>
            <input class="form-control" type="text" ng-model="searchText" required/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Search Github!</button>
        </div>
    </form>
</body>